# Ignore unnecessary files and directories
.git
__pycache__
*.pyc
*.pyo
*.pyd
.venv
.vscode
.idea
*.log
*.md
# Ignore dynaconf secret files
.secrets.*

metarboard.log

NOTES.md
METAR - TAF LAYOUT.ods
